html{
  scroll-behavior: smooth;
}

.skroll{
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}
.skroll a {
  height: 40px;
  width: 40px;
  text-align: center;
  background: #D41443;
  border: 2px solid #D41443;
  display: block;
  border-radius: 50%;
  text-decoration: none;
}
.skroll a span {
  color: #FFB8CA;
  font-size: 30px;
  line-height: 55px;
  cursor: pointer;
}

.lorem{
  height: 8000px;
}